@model IEnumerable<TFI_ADM_RECURSOS_2023.Models.Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}



<p>
    <a asp-action="Create">Crear nuevo proyecto</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEstimadaEntrega)
            </th>
            <th>
                Estado del proyecto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEstimadaEntrega)
            </td>
                <td>
                    @if (item.finalizado == true)
                    {
                        <p>FINALIZADO</p>
                    }
                    else
                    {
                        <p>EN PROCESO</p>
                    }

                </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CUIT)
            </td>
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
