@model TFI_ADM_RECURSOS_2023.Models.Tarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estadoTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estadoTarea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horasEstimadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horasEstimadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recurso.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proyecto.descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
