@model List<cuentaCorriente>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Debe</th>
                <th>Haber</th>
                <th>Saldo</th>
                <th>Tipo Documento</th>
                <th>Fecha de Pago</th>
                <th>Codigo de Documento</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cuentaCorriente in Model)
            {
                <tr>
                    <td>@cuentaCorriente.debe</td>
                    <td>@cuentaCorriente.haber</td>
                    <td>@cuentaCorriente.saldo</td>
                    <td>@cuentaCorriente.tipoDeDocumento</td>
                    <td>@cuentaCorriente.fechaPago</td>
                    <td>@(cuentaCorriente.codigoDocumento)</td>
                    <td>@cuentaCorriente.NombreCompletoCliente</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron cuentas corrientes para el cliente.</p>
}

