@model TFI_ADM_RECURSOS_2023.Models.cuentaCorriente

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro que deseas eliminar esto?</h3>
<div>
    <h4>cuentaCorriente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.debe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.debe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.haber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.haber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.saldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.saldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoDeDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoDeDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
