@model IEnumerable<TFI_ADM_RECURSOS_2023.Models.cuentaCorriente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.debe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.haber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoDeDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.debe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoDeDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
