@model IEnumerable<TFI_ADM_RECURSOS_2023.Models.cuentaCorriente>

@{
    ViewData["Title"] = "Index";

   
}

<h1>CUENTAS CORRIENTES</h1>
</n>

<form asp-controller="cuentasCorriente" asp-action="Search" method="get">
    <label for="clientName">Nombre del Cliente:</label>
    <input type="text" id="clientName" name="clientName" />
    <button type="submit">Buscar</button>
</form>








<p>
    <a asp-action="Create">Crear nueva</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.codigoDocumento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.tipoDeDocumento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ClienteNombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fechaPago)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.debe)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.haber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigoDocumento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tipoDeDocumento)
                </td>

                 <td>
                @Html.DisplayFor(modelItem => item.ClienteNombre)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fechaPago)
                </td>


            <td>
                @Html.DisplayFor(modelItem => item.debe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.haber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
            
            
            
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
